<div class="jumbotron text-center">
    <div class="row">
        <a routerLink="/login" id="goback">Go Back</a>
    </div>
    <h2>Login with your email account</h2>

    <!--<span class="error" *ngIf="error">{{ error }}</span>-->
    <div class="alert alert-dismissible alert-danger" *ngIf="error">
    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <strong>Error: </strong>There is no user record corresponding to this identifier. The user may have been deleted.
    </div>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
      <a routerLink="/signup" class="alc">Don't have an account?</a>
      <a routerLink="/resetpw" class="alc">Forget Password?</a>
      <!--<button type="submit" [disabled]="!formData.valid" class="basic-btn">Forget Password?</button>-->
  </form>
</div>