<!--<div class="jumbotron text-center">-->

<div style="color:#B40404">
    <h2><font size="6">Games Supported</font></h2>
</div>
<body>
    <div class="container">
        <div class="col-md-7">
           <a href="http://us.battle.net/sc2/en/">
               <img src="./assets/img/starcraft2.2.jpg"  alt="Starcraft"/>
           </a >
        </div>
        <div class="col-md-5">
            <li class="list-group-item">Name: Starcraft2</li>
            <li class="list-group-item">Supported Platforms: PC</li>
            <li class="list-group-item">Number of palyers: 0</li>
            <li class="list-group-item">Available Characters: Protoss, Terran, Zerg </li>
            <!--      <select class="form-control" type="text" [(ngModel)]="gamename" name="gamename">-->
            <!--            <option value="Hunter">Hunter</option>-->
            <!--            <option value="Warlock">Warlock</option>-->
            <!--            <option value="Titan">Titan</option>-->
            <!--      </select>-->
            <!--</li>-->
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="container">
        <div class="col-md-7">
            <a href="https://godofwar.playstation.com/index.php">   
                 <img src="./assets/img/godofwar1.jpg"  alt="God-of-War"/>
            </a >
        </div>
        <div class="col-md-5">
            <li class="list-group-item">Name: God of War</li>
            <li class="list-group-item">Supported Platforms: PS3, PS4</li>
            <li class="list-group-item">Number of players: 1</li>
            <li class="list-group-item">Characters: Kratos</li>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="col-md-7">
            <a href="http://www.monsterhunter.com/">
                 <img src="./assets/img/monster-hunter.jpg"  alt="MonsterHunter"/>
            </a >
        </div>
        <div class="col-md-5">
           <li class="list-group-item">Name: Monster Hunter</li>
            <li class="list-group-item">Supported Platforms: PC, PS3, PS4</li>
            <li class="list-group-item">Number of players: 0</li>
            <li class="list-group-item">Characters:Male, Female</li>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="col-md-7">
            <a href="https://us.battle.net/d3/en/">
                <img src="./assets/img/diablo3.1.jpg"  alt="Diablo3"/>
            </a >
        </div>
        <div class="col-md-5">
            <li class="list-group-item">Name: Diablo 3</li>
            <li class="list-group-item">Supported Platforms: PC, PS3, PS4, XBox</li>
            <li class="list-group-item">Number of players: 0</li>
            <li class="list-group-item">Characters:BarBarian,Wizard,Monk,Crusader,Witch Doctor,Demon Hunter</li>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

<!--</div>-->